/* Overrides for Bootstrap rules, and also some custom styles */
html, body {
  min-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  /* Hide the scrollbars because they always display due to the large
   * (invisible, but still present) preview-wrapper div.
   * Use a body-wrapper div and get scrollbars on it instead. */
  overflow: hidden;
}

#body-wrapper {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.navbar .nav-item .tw-signin-img {
  margin-top: -0.2em;
}

.navbar .nav-item .tw-avatar {
  height: 1.6em;
  width: 1.6em;
  margin-top: -0.2em;
}

img.logo {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 0.2em;
}

#input {
  width: 100%;
  padding: 1em;
  border: 0.1em solid #efefef;
  margin-top: 0.5em;
  min-height: 20em;
}

#preview-wrapper {
  display: inline-block;
  visibility: hidden;
  background-color: #ffffff;
  position: absolute; /* so that it doesn't mess with the layout. */
  top: 0;
  left: 0;
  height: 9000px;
  width: 9000px;
  z-index: -99999;
}

#preview {
  display: inline-block;
  background-color: #ffffff;
  z-index: -99999;
  /* Make image size independant of screen resolution by explicitly specifying
   * the sizes in pixels. */
  padding: 20px;
  font-size: 16px;
  max-width: 600px; /* conservative maximum sizes for now */
  max-height: 600px;
}

#output-wrapper {
  padding: 1em;
  border: none;
  border-top: 0.1em solid #efefef;
  margin-top: 0.5em;
  min-height: 20em;
}

#output-wrapper img#preview-img {
  border: 1px solid #dddddd;
}
