/* Overrides for Bootstrap rules, and also some custom styles */
.navbar .nav-item .tw-signin-img {
  margin-top: -0.2em;
}

.navbar .nav-item .tw-avatar {
  height: 1.6em;
  width: 1.6em;
  margin-top: -0.2em;
}

#preview {
  border: 1px solid #000000;
  display: inline-block;
  padding: 1em;
  visibility: hidden;
  position: absolute; /* so that it doesn't mess with the layout. */
  bottom: 0;
  left: 0;
  z-index: -99999;
}
