/* Overrides for Bootstrap rules, and also some custom styles */
html, body {
  min-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar .nav-item .tw-signin-img {
  margin-top: -0.2em;
}

.navbar .nav-item .tw-avatar {
  height: 1.6em;
  width: 1.6em;
  margin-top: -0.2em;
}

img.logo {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 0.2em;
}

#input {
  width: 100%;
  padding: 1em;
  border: 0.1em solid #efefef;
  margin-top: 0.5em;
  min-height: 20em;
  font-family: 'Source Sans Pro', sans-serif; /* match output font */
}

/* Address some quirks in the rich text editor */
#input blockquote {
  margin: 0 !important;
}

#preview-wrapper {
  visibility: hidden;
  position: absolute; /* so that it doesn't mess with the layout. */
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -99999;
  display: none;
}

#output-container {
  padding: 1em;
  border: none;
  border-top: 0.1em solid #efefef;
  margin-top: 0.5em;
  min-height: 20em;
}

#output-wrapper {
  overflow: auto;
}

#output-wrapper img#preview-img {
  border: 1px solid #dddddd;
}

/* Make dropdowns in the toolbar stay on the same line */
.dropdown {
  display: inline-block;
}
