{% extends "skeleton.html" %}
{% from "editor_toolbar.html" import editor_toolbar %}

{# Include the HTML2Canvas library only after authentication #}
{% block scripts %}
<script type="text/javascript"
    src="{{ config['HTML2CANVAS_URL'] }}"
    integrity="{{ config['HTML2CANVAS_SUM'] }}"
    crossorigin="anonymous"></script>

<script type="text/javascript" src="{{ config['QUILLJS_URL'] }}"></script>
<link rel="stylesheet" href="{{ config['QUILLJS_THEME_URL'] }}" />

<script type="text/javascript">
// Function to initialize the Quill.js rich text editor and store it in the
// window object.
function initializeQuill() {
  var options = {
    modules: {
      toolbar: '#toolbar',
    },
    placeholder: 'Enter your text here...',
    theme: 'snow'
  };

  // Add custom fonts to the whitelist.
  var Font = Quill.import('formats/font');
  Font.whitelist = [
    {% for font, font_family in config['FONT_NAMES'].iteritems() %}
    '{{ font.split(" ")|join('-')|lower }}',
    {% endfor %}
  ];
  // Add the default fonts as well.
  Font.whitelist.push('serif', 'monospace');
  Quill.register(Font, true);

  window.quill = new Quill('#input', options);
}

function updatePreview() {
  // Display a message on the output when input is empty.
  if (!window.quill.getText().trim().length && window.quill.getContents().ops.length <= 1) {
    $("#output-wrapper").empty().html('<span class="text-muted">\
        <i>To see the output, enter text and hit <b>Preview</b>.</i></span>');
  }
  else {
    $("#preview-wrapper").contents().find("#preview").html(
        document.querySelector(".ql-editor").innerHTML);
    html2canvas($("#preview", window.previewContext), {
      onrendered: function(canvas) {
        canvas.id="output";
        $("#output-wrapper").empty().append('<img src="' +
            canvas.toDataURL("image/png") + '" id="preview-img" />');
        $("#imagedata").val(canvas.toDataURL("image/png"));
      }
    });
  }

  $('#preview-display').css('display', 'block');
  $('#input-display').css('display', 'none');
}

$(document).ready(function() {
  window.previewContext = $("iframe")[0].contentWindow.document;
  $("head", window.previewContext).html('\
      <link rel="stylesheet" href="{{ config['QUILLJS_THEME_URL'] }}" />\
      <link rel="stylesheet" type="text/css"\
          href="{{ config['BOOTSTRAP_CSS_URL'] }}"\
          integrity="{{ config['BOOTSTRAP_CSS_SUM'] }}"\
          crossorigin="anonymous" />\
      ');
  $("head", window.previewContext).append("\
      <style>\
      html, body { padding: 0; margin: 0; }\
      body { position: fixed; top: 0; left: 0;\
        width: 6000px; height: 6000px; }\
      #preview {\
        margin: 0;\
        /* Make image size independant of screen resolution by explicitly\
        specifying the sizes in pixels. */\
        padding: 20px !important;\
        max-width: 600px;\
        max-height: 600px;\
        background-color: #ffffff;\
        display: inline-block;\
        height: auto !important;\
        overflow: visible !important;\
      }\
      #preview blockquote {\
        margin: 0;\
      }\
      {# Add custom fonts to the preview #}\
      {% for font, font_family in config['FONT_NAMES'].iteritems() %}\
      .ql-font-{{ font.split(' ')|join('-')|lower }} {\
        font-family: {{ font_family|safe }};\
      }\
      {% endfor %}\
      </style>\
      ");
  $("body", window.previewContext).html('<div class="ql-container ql-snow">\
      <div id="preview" class="ql-editor"></div></div>');
  initializeQuill();
});

// Preview button functionality.
$(document).on("click", "#preview-button", updatePreview);

// Mode-switch button functionality.
$(document).on("click", "#modeswitch-button", function() {
  $(".ql-collapse").toggleClass("collapse");
});

// Functionality for Edit button in preview mode.
$(document).on("click", "#edit-again", function() {
  $('#preview-display').css('display', 'none');
  $('#input-display').css('display', 'block');
});

// Display messages on submission of output (clicking 'Tweet')
$(document).on("submit", "#tweet-form", function(event) {
  if ($("#output-wrapper").has("img").length > 0) {
    if ($("#output-wrapper > img").attr("src")) {
      $("#flashed-messages-wrapper").empty().append('\
      <div class="alert alert-info alert-dismissable fade show" role="alert">\
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">\
          <span aria-hidden="true">&times;</span>\
        </button>\
        Posting image as a tweet...\
      </div>\
      ');
      return true;
    }
  }
  else {
    $("#flashed-messages-wrapper").empty().append('\
    <div class="alert alert-warning alert-dismissable fade show" role="alert">\
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">\
        <span aria-hidden="true">&times;</span>\
      </button>\
      You must enter some text in the input and click Preview first.\
    </div>\
    ');
    return false;
  }
});
</script>

<style>
{# Add custom fonts #}
{# For the toolbar #}
{% for font, font_family in config['FONT_NAMES'].iteritems() %}
#toolbar .ql-font span[data-label="{{ font }}"]::before {
  font-family: {{ font_family|safe }};
}
{# For the content #}
.ql-font-{{ font.split(" ")|join('-')|lower }} {
  font-family: {{ font_family|safe }};
}
{% endfor %}

</style>

{% endblock %}

{% block content %}
<div class="container-fluid pt-2" id="input-display">
  <div id="input-wrapper">
    <div id="toolbar">{{ editor_toolbar() }}</div>
    <div id="input"></div>
  </div>
</div>
<div class="container-fluid pt-2" id="preview-display">
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-danger btn-sm"
          id="edit-again"><i class="fa fa-pencil">&nbsp;</i>Edit</button>
    </div>
    <div class="col-4 text-center">Preview
    </div>
    <div class="col-4 text-right">
      <form method="post" action="{{ url_for('postimage') }}"
          id="tweet-form">
        <input type="hidden" id="imagedata" name="imagedata" value="" />
        <button type="submit" class="btn btn-primary btn-sm"><i
            class="fa fa-twitter">&nbsp;</i>Tweet</button>
      </form>
    </div>
    <div class="col-12">
      <div id="output-container"
          class="d-flex justify-content-center align-items-center bg-faded" >
        <div id="output-wrapper">
          <span class="text-muted">
            <i>To see the output, enter text and hit <b>Preview</b>.</i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block closingcontent %}
<iframe id="preview-wrapper" src="" frameborder="0"></iframe>
{# Trigger pre-loading the fonts so that they appear without a delay
  in the menu #}
<div style="visibility: hidden; position: absolute; top: 0; left: 0; z-index: -9998">
  {% for font, font_family in config['FONT_NAMES'].iteritems() %}
  <span style="font-family: {{ font_family }};">{{ font }}</span>
  {% endfor %}
</div>
{% endblock %}
