{% extends "skeleton.html" %}

{# Include the HTML2Canvas library only after authentication #}
{% block scripts %}
<script type="text/javascript"
    src="{{ config['HTML2CANVAS_URL'] }}"
    integrity="{{ config['HTML2CANVAS_SUM'] }}"
    crossorigin="anonymous"></script>

<script type="text/javascript">
function updatePreview() {
  // Display a message on the output when input is empty.
  if (!$("#input").val()) {
    $("#output-wrapper").empty().html('<span class="text-muted">\
        <i>To see the output, enter text and hit <b>Preview</b>.</i></span>');
  }
  else {
    $("#preview").html($("#input").val().replace(/\n/g, '<br />'));
    html2canvas($("#preview"), {
      onrendered: function(canvas) {
        canvas.id="output";
        $("#output-wrapper").empty().append('<img src="' +
            canvas.toDataURL("image/png") + '" id="preview-img" />');
        $("#imagedata").val(canvas.toDataURL("image/png"));
      }
    });
  }
}

$(document).ready(function() {
  updatePreview();
});

// Display messages on submission of output (clicking 'Tweet')
$(document).on("submit", "#tweet-form", function(event) {
  if ($("#output-wrapper").has("img").length > 0) {
    if ($("#output-wrapper > img").attr("src")) {
      $("#flashed-messages-wrapper").empty().append('\
      <div class="alert alert-info alert-dismissable fade show" role="alert">\
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">\
          <span aria-hidden="true">&times;</span>\
        </button>\
        Posting image as a tweet...\
      </div>\
      ');
      return true;
    }
  }
  else {
    $("#flashed-messages-wrapper").empty().append('\
    <div class="alert alert-warning alert-dismissable fade show" role="alert">\
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">\
        <span aria-hidden="true">&times;</span>\
      </button>\
      You must enter some text in the input and click Preview first.\
    </div>\
    ');
    return false;
  }
});

// Custom fonts functionality.
$(document).on("click", "#fontchooser a.dropdown-item", function() {
  // Highlight the selected font.
  $("#fontchooser a.dropdown-item").removeClass('active');
  $(this).addClass('active');
  // Set the selected font.
  selectedFont = $(this).data('font-family');
  $("#preview").css('font-family', selectedFont);
  $("#input").css('font-family', selectedFont);
});

// Functionality to choose different font sizes.
$(document).on("click", "#fontsizechooser a.dropdown-item", function() {
  // Highlight the selected font size.
  $("#fontsizechooser a.dropdown-item").removeClass('active');
  $(this).addClass('active');
  // Set the selected font size.
  selectedFontSize = $(this).data('font-size');
  $("#preview").css('font-size', selectedFontSize);
  // We don't change the size of the input text here because then it would be
  // difficult to type for large font sizes.
});

</script>
{% endblock %}

{% block content %}
<div class="container-fluid pt-2">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-9">
          {# fonts menu #}
          <div class="dropdown" id="fontchooser">
            <button class="btn btn-secondary btn-sm dropdown-toggle"
                type="button" id="fontchooserlabel" data-toggle="dropdown"
                aria-hasgroup="true" aria-expanded="false">
              Select font
            </button>
            <div class="dropdown-menu" aria-labelledby="fontchooserlabel">
              {# List all fonts available in the config #}
              {% for font, font_family in config['FONT_NAMES'].iteritems() %}
              <a class="dropdown-item{% if font == 'Source Sans Pro'
                  %} active{% endif %}" href="javascript:void(0);"
                  style="font-family: {{ font_family|safe }};"
                  data-font="{{ font }}"
                  data-font-family="{{ font_family|safe }}">{{ font }}</a>
              {% endfor %}
            </div>
          </div>

          {# font-size menu #}
          <div class="dropdown" id="fontsizechooser">
            <button class="btn btn-secondary btn-sm dropdown-toggle"
                type="button" id="fontsizechooserlabel" data-toggle="dropdown"
                aria-hasgroup="true" aria-expanded="false">
              Font size
            </button>
            <div class="dropdown-menu" aria-labelledby="fontsizechooserlabel">
              {# List all fonts sizes available in the config #}
              {% for font_size_name, font_size in config['FONT_SIZES'].iteritems() %}
              <a class="dropdown-item{% if font_size_name == 'Normal'
                  %} active{% endif %}" href="javascript:void(0);"
                  style="font-size: {{ font_size }};"
                  data-font-size-name="{{ font_size_name }}"
                  data-font-size="{{ font_size }}">{{ font_size_name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col text-right">
          <button type="button" class="btn btn-primary btn-sm"
              onclick="updatePreview()">Preview</button>
        </div>
      </div>
      <textarea id="input" placeholder="Enter your text here..."></textarea>
    </div>
    <div class="col">
      <div class="row">
        <div class="col text-right">
          <form method="post" action="{{ url_for('postimage') }}"
              id="tweet-form">
            <input type="hidden" id="imagedata" name="imagedata" value="" />
            <button type="submit" class="btn btn-primary btn-sm">Tweet</button>
          </form>
        </div>
      </div>
      <div id="output-wrapper"
          class="d-flex justify-content-center align-items-center bg-faded">
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block closingcontent %}
<div id="preview-wrapper">
  <div id="preview"></div>
</div>
{% endblock %}
