{% extends "skeleton.html" %}

{# Include the HTML2Canvas library only after authentication #}
{% block scripts %}
<script type="text/javascript"
    src="{{ config['HTML2CANVAS_URL'] }}"
    integrity="{{ config['HTML2CANVAS_SUM'] }}"
    crossorigin="anonymous"></script>

<script type="text/javascript">
function updatePreview() {
  // Display a message on the output when input is empty.
  if (!$("#input").val()) {
    $("#output-wrapper").empty().html('<span class="text-muted">\
        <i>To see the output, enter text and hit <b>Preview</b>.</i></span>');
  }
  else {
    $("#preview-wrapper").contents().find("#preview").html(
        $("#input").val().replace(/\n/g, '<br />'));
    html2canvas($("#preview", window.previewContext), {
      onrendered: function(canvas) {
        canvas.id="output";
        $("#output-wrapper").empty().append('<img src="' +
            canvas.toDataURL("image/png") + '" id="preview-img" />');
        $("#imagedata").val(canvas.toDataURL("image/png"));
      }
    });
  }
}

$(document).ready(function() {
  {# The iframe portion shamelessly copied from StackOverflow :P #}
  window.previewContext = $("iframe")[0].contentWindow.document;
  $("head", window.previewContext).html(
      '<link rel="stylesheet" href="{{ config['FONT_URL'] }}" />\
      <link rel="stylesheet" type="text/css"\
          href="{{ config['BOOTSTRAP_CSS_URL'] }}"\
          integrity="{{ config['BOOTSTRAP_CSS_SUM'] }}"\
          crossorigin="anonymous" />');
  $("head", window.previewContext).append('\
      <style>\
      html, body { padding: 0; margin: 0; }\
      body { position: fixed; top: 0; left: 0;\
        width: 6000px; height: 6000px; }\
      #preview {\
        margin: 0;\
        font-family: "Source Sans Pro", sans-serif;\
        /* Make image size independant of screen resolution by explicitly\
        specifying the sizes in pixels. */\
        font-size: 14px;\
        padding: 20px;\
        max-width: 600px;\
        max-height: 600px;\
        background-color: #ffffff;\
        display: inline-block;\
      }\
      </style>\
      ');
      $("body", window.previewContext).html('<div id="preview"></div>');
  updatePreview();
  $('.color-patch').tooltip();
});

// Display messages on submission of output (clicking 'Tweet')
$(document).on("submit", "#tweet-form", function(event) {
  if ($("#output-wrapper").has("img").length > 0) {
    if ($("#output-wrapper > img").attr("src")) {
      $("#flashed-messages-wrapper").empty().append('\
      <div class="alert alert-info alert-dismissable fade show" role="alert">\
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">\
          <span aria-hidden="true">&times;</span>\
        </button>\
        Posting image as a tweet...\
      </div>\
      ');
      return true;
    }
  }
  else {
    $("#flashed-messages-wrapper").empty().append('\
    <div class="alert alert-warning alert-dismissable fade show" role="alert">\
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">\
        <span aria-hidden="true">&times;</span>\
      </button>\
      You must enter some text in the input and click Preview first.\
    </div>\
    ');
    return false;
  }
});

// Custom fonts functionality.
$(document).on("click", "#fontchooser a.dropdown-item", function() {
  // Highlight the selected font.
  $("#fontchooser a.dropdown-item").removeClass('active');
  $(this).addClass('active');
  // Set the selected font.
  selectedFont = $(this).data('font-family');
  $("#preview", window.previewContext).css('font-family', selectedFont);
  $("#input").css('font-family', selectedFont);
});

// Functionality to choose different font sizes.
$(document).on("click", "#fontsizechooser a.dropdown-item", function() {
  // Highlight the selected font size.
  $("#fontsizechooser a.dropdown-item").removeClass('active');
  $(this).addClass('active');
  // Set the selected font size.
  selectedFontSize = $(this).data('font-size');
  $("#preview", window.previewContext).css('font-size', selectedFontSize);
  // We don't change the size of the input text here because then it would be
  // difficult to type for large font sizes.
});

// Functionality to choose different font colors.
$(document).on("click", "#fontcolorchooser a.color-patch", function() {
  // Update the selected color-patch.
  selectedFontColor = $(this).data('font-color');
  selectedFontColorName = $(this).data('font-color-name');
  $("#fontcolorchooser a.color-patch.now-selected i.fa").css('color', selectedFontColor);
  $("#fontcolorchooser .now-selected-name").text(selectedFontColorName);
  // Set the selected color.
  $("#preview", window.previewContext).css('color', selectedFontColor);
  $("#input").css('color', selectedFontColor);
});

</script>
{% endblock %}

{% block content %}
<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-input">
      <div class="row">
        <div class="col-9">
          {# fonts menu #}
          <div class="dropdown" id="fontchooser">
            <button class="btn btn-secondary btn-sm dropdown-toggle"
                type="button" id="fontchooserlabel" data-toggle="dropdown"
                aria-hasgroup="true" aria-expanded="false"><i
                class="fa fa-font fa-fw"></i></button>
            <div class="dropdown-menu" aria-labelledby="fontchooserlabel">
              {# List all fonts available in the config #}
              {% for font, font_family in config['FONT_NAMES'].iteritems() %}
              <a class="dropdown-item{% if font == 'Source Sans Pro'
                  %} active{% endif %}" href="javascript:void(0);"
                  style="font-family: {{ font_family|safe }};"
                  data-font="{{ font }}"
                  data-font-family="{{ font_family|safe }}">{{ font }}</a>
              {% endfor %}
            </div>
          </div>

          {# font-size menu #}
          <div class="dropdown" id="fontsizechooser">
            <button class="btn btn-secondary btn-sm dropdown-toggle"
                type="button" id="fontsizechooserlabel" data-toggle="dropdown"
                aria-hasgroup="true" aria-expanded="false"><i
                class="fa fa-text-height fa-fw"></i></button>
            <div class="dropdown-menu" aria-labelledby="fontsizechooserlabel">
              {# List all fonts sizes available in the config #}
              {% for font_size_name, font_size in config['FONT_SIZES'].iteritems() %}
              <a class="dropdown-item{% if font_size_name == 'Normal'
                  %} active{% endif %}" href="javascript:void(0);"
                  style="font-size: {{ font_size }};"
                  data-font-size-name="{{ font_size_name }}"
                  data-font-size="{{ font_size }}">{{ font_size_name }}</a>
              {% endfor %}
            </div>
          </div>

          {# font-color menu #}
          <div class="dropdown" id="fontcolorchooser">
            <button class="btn btn-secondary btn-sm dropdown-toggle"
                type="button" id="fontcolorchooserlabel" data-toggle="dropdown"
                aria-hasgroup="true" aria-expanded="false"><i
                class="fa fa-paint-brush fa-fw"></i></button>
            <div class="dropdown-menu" aria-labelledby="fontcolorchooserlabel">
              <div class="container-fluid">
                <a class="color-patch now-selected" href="javascript:void(0);"
                    data-font-color-name="Default"
                    data-font-color="#292b2c"><i
                    class="fa fa-square fa-lg"
                    style="color: #292b2c;"></i></a>
                <small>
                  <span class="text-muted now-selected-name">Default</span>
                </small>
              </div>
              <div class="dropdown-divider"></div>
              <div class="container-fluid">
                {% for font_color_name, font_color in config['FONT_COLORS'].iteritems() %}
                <a class="color-patch" href="javascript:void(0);"
                    title="{{ font_color_name }}"
                    data-font-color-name="{{ font_color_name }}"
                    data-font-color="{{ font_color }}"
                    data-toggle="tooltip" data-placement="bottom"><i
                    class="fa fa-square fa-lg"
                    style="color: {{ font_color }};"></i></a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>{# end menus #}
        <div class="col-3 text-right">
          <button type="button" class="btn btn-primary btn-sm"
              onclick="updatePreview()"><i class="fa fa-eye">&nbsp;</i>
              Preview</button>
        </div>
      </div>
      <textarea id="input" placeholder="Enter your text here..."></textarea>
    </div>
    <div class="col-md-6 col-sm-12 col-output">
      <div class="row">
        <div class="col text-right">
          <form method="post" action="{{ url_for('postimage') }}"
              id="tweet-form">
            <input type="hidden" id="imagedata" name="imagedata" value="" />
            <button type="submit" class="btn btn-primary btn-sm"><i
                class="fa fa-twitter">&nbsp;</i>Tweet</button>
          </form>
        </div>
      </div>
      <div id="output-container"
          class="d-flex justify-content-center align-items-center bg-faded" >
        <div id="output-wrapper">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block closingcontent %}
<iframe id="preview-wrapper" src="" frameborder="0"></iframe>
{# Trigger pre-loading the fonts so that they appear without a delay
  in the menu #}
<div style="visibility: hidden; position: absolute; top: 0; left: 0; z-index: -9998">
  {% for font, font_family in config['FONT_NAMES'].iteritems() %}
  <span style="font-family: {{ font_family }};">{{ font }}</span>
  {% endfor %}
</div>
{% endblock %}
